.info {
  position: relative;
  height: fit-content;

  & .image {
    width: 30px;
  }

  & .btn {
    display: block;
    width: fit-content;
    background-color: transparent;
    transition: all 0.2s;
    border-radius: 5px;
    padding: 2px;
    font-size: 0;
    cursor: pointer;
    &:hover {
      background-color: var(--color-primary-light);
    }
  }

  & .panel {
    position: absolute;
    width: 70vw;
    max-width: 25em;
    top: 100%;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    border: 1px solid var(--color-primary-alpha);
    max-height: calc(1em*6 + 7em );
    padding: 10px;
    transition: all 0.3s, border 0.2s 50ms;
    background-color: var(--color-primary-light);
  }

  & .hide {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0 solid var(--color-primary-alpha);
    border-bottom: 0 solid var(--color-primary-alpha);
  }

  & .title {
    font-size: 1.2em;
  }

  & .text {
    width: 100%;
    font-size: 1em;
  }
}