:root {
  // colors

  --color-primary: #03A9F4;
  --color-primary-alpha: rgba(3, 169, 244, 0.4);
  --color-primary-light: #E1F5FE;
  --color-minor: #BDBDBD;
  --color-minor-light: #e3e3e3;
  --color-secondary: #212121;
  --color-extra-light: #ffffff;
  --color-accent: #82B1FF;
  --color-error: #FF5252;
  --color-info: #2196F3;
  --color-success: #4CAF50;
  --color-warning: #FFC107;

  // sizes

  --max-width-dekstop: 1280px;

  // font-family

  --nihhon-font-family: 'Noto Serif JP', serif;
}