.page {
  height: 100%;

  & .container {
    max-width: var(--max-width-dekstop);
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  & .settings {
    display: flex;
    justify-content: space-between;
  }
  & .info {
    height: 30px;
    width: 30px;
    background-color: red;
  }

  & .book {
    width: 100%;
    height: 80%;
  }
}