.book {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--color-primary-alpha);
  gap: 2px;

  & .sheet {
    background-color: var(--color-primary-light);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  & .line {
    //width: 100%;
    width: fit-content;
    //height: 30px;
    font-size: 26px;
    border-bottom: 1px dotted var(--color-primary-alpha);

    cursor: pointer;
    &:hover {
      background-color: var(--color-primary-alpha);
    }
  }

  & .kanji {

  }
  & .left {

  }
  & .right {

  }
}