.book {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--color-primary-light);
  padding: 20px;
  position: relative;
  &::after {
    content: '';
    height: 100%;
    width: 2px;
    background-color: var(--color-primary-alpha);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  & .lines {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
  }
  & .lines + .lines {
    margin-top: 20px;
  }
  & .buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-light);
    z-index: 1000;
    border-top: 2px solid var(--color-primary-alpha);
    border-bottom: 2px solid var(--color-primary-alpha);
    //border-radius: 12px;
    padding: 10px;
    max-height: 122px;
  }
  & .button {
    background-color: var(--color-primary);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-extra-light);
    font-family: 'Roboto', sans-serif;
    z-index: 1000;
    margin-top: auto;
    &:hover {
      font-size: 1.05rem
    }
  }
  & .button + .button {
    margin-top: 20px;
  }
}